<service>

  <id>api-gateway-service</id>

  <name>API Gateway Service</name>

  <description>Spring Boot API Gateway</description>

  <executable>java</executable>

  <arguments>
    -Xms512m
    -Xmx2g
    -XX:+UseG1GC
    -Xlog:gc*:file=%BASE%\logs\gc.log:time

    -Dspring.profiles.active=window

    -XX:ErrorFile=%BASE%\logs\hs_err_pid%p.log

    -jar "%BASE%\api-gateway-service.jar"
  </arguments>

  <workingdirectory>%BASE%</workingdirectory>

  <env name="EUREKA_ADDRESS" value="${EUREKA_ADDRESS}"/>
  <env name="EUREKA_PORT" value="${EUREKA_PORT}"/>
  <env name="WIN_LOCATION" value="${WIN_LOCATION}"/>
  <env name="DB_HOST" value="${PROD_DB_HOST}"/>
  <env name="DB_PORT" value="${PROD_DB_PORT}"/>
  <env name="DB_NAME" value="${PROD_DB_NAME}"/>
  <env name="DB_USERNAME" value="${PROD_DB_USERNAME}"/>
  <env name="DB_PASSWORD" value="${PROD_DB_PASSWORD}"/>
  <env name="MONGO_HOST" value="${PROD_MONGO_HOST}"/>
  <env name="MONGO_PORT" value="${PROD_MONGO_PORT}"/>
  <env name="MONGO_DB" value="${PROD_MONGO_DB}"/>
  <env name="MONGO_USERNAME" value="${PROD_MONGO_USERNAME}"/>
  <env name="MONGO_PASSWORD" value="${PROD_MONGO_PASSWORD}"/>

  <log mode="roll-by-size">
    <sizeThreshold>10240</sizeThreshold>
    <keepFiles>5</keepFiles>
  </log>

  <onfailure action="restart" delay="10 sec"/>
  <onfailure action="restart" delay="30 sec"/>
  <onfailure action="restart" delay="60 sec"/>

</service>