<service>

  <id>portal-onboard-service</id>

  <name>Portal Onboard Service</name>

  <description>Spring Boot Portal Onboard</description>

  <executable>java</executable>

  <arguments>
    -Xms512m
    -Xmx2g
    -XX:+UseG1GC
    -Xlog:gc*:file=%BASE%\logs\gc.log:time

    -Dspring.profiles.active=alfuttaim

    -XX:ErrorFile=%BASE%\logs\hs_err_pid%p.log

    -jar "%BASE%\portal-onboard-service.jar"
  </arguments>

  <workingdirectory>%BASE%</workingdirectory>

  <env name="EUREKA_ADDRESS" value="${EUREKA_ADDRESS}"/>
  <env name="EUREKA_PORT" value="${EUREKA_PORT}"/>
  <env name="WIN_LOCATION" value="${WIN_LOCATION}"/>
  <env name="PROD_DB_HOST" value="${PROD_DB_HOST}"/>
  <env name="PROD_DB_PORT" value="${PROD_DB_PORT}"/>
  <env name="PROD_DB_NAME" value="${PROD_DB_NAME}"/>
  <env name="PROD_DB_USERNAME" value="${PROD_DB_USERNAME}"/>
  <env name="PROD_DB_PASSWORD" value="${PROD_DB_PASSWORD}"/>
  <env name="PROD_MONGO_HOST" value="${PROD_MONGO_HOST}"/>
  <env name="PROD_MONGO_PORT" value="${PROD_MONGO_PORT}"/>
  <env name="PROD_MONGO_DB" value="${PROD_MONGO_DB}"/>
  <env name="PROD_MONGO_USERNAME" value="${PROD_MONGO_USERNAME}"/>
  <env name="PROD_MONGO_PASSWORD" value="${PROD_MONGO_PASSWORD}"/>

  <log mode="roll-by-size">
    <sizeThreshold>10240</sizeThreshold>
    <keepFiles>5</keepFiles>
  </log>

  <onfailure action="restart" delay="10 sec"/>
  <onfailure action="restart" delay="30 sec"/>
  <onfailure action="restart" delay="60 sec"/>

</service>